
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mycss.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Data</title>
</head>

<body>
  <ul>
    <li><a style="margin-top:10px" class="active" href="{{ url_for('filter') }}">Home</a></li>
    <li><a style="margin-top:10px" class="active" href="{{ url_for('hello') }}">All Data</a></li>
    <li><a style="margin-top:10px" href="{{ url_for('allmail') }}">E-mails</a></li>
    <li><h style="padding-right:440px;font-family: 'Comic Sans MS';font-size: 45px;color:rgb(144, 214, 231)">Talento</h></li>
    <li><img  style="margin-top:20px" src="{{ url_for('static', filename='logo.png') }}"></li>
  </ul>
    
  <table id="tab">
    <tr>
      <th>Name</th>
      <th>Number</th>
    </tr>
          {% for d in data %}
          <tr>
            {% if d.Name %}   
            <td>{{d.Name}}</td>
            {% else %}
            <td> NA </td>
            {% endif %}

          {% if d.Phone_Number %}
                <td>{{ d.Phone_Number }}</td>
            {% else %}
                <td> NA </td>
          {% endif %}

        </tr>
        {% endfor %}
    
  </table>
</body>
</html>