{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
{% if g.user %}
<div style="text-transform: uppercase;margin-left:1180px;margin-top:-65px;position: -webkit-sticky;position: sticky;color:white;"><p>{{ g.user.profile.firstName }}</p></div>
{% endif %} 
  <div class="row">
    <div style="margin-left:-60px;margin-top:100px;text-align:left;"class="col-sm-6 offset-sm-3">
      <div>
          <h style="font-family: 'Comic Sans MS';font-size: 120px;color:rgb(144, 214, 231)">Talento</h><br>
          {% if not g.user %}
          <a style="margin:70px 0 330px 120px;" href="/login" class="btn btn-lg btn-info">LogIn via okta <span class="glyphicon glyphicon-log-in"></span></a>
        {% else %}
          <a style="margin:70px 0 330px 45px;" href="/login" class="btn btn-lg btn-info">Go to Dashboard <span class="glyphicon glyphicon-log-in"></span></a>
          <a style="margin:70px 0 330px 55px;" href="/logout" class="btn btn-lg btn-info">LogOut <span class="glyphicon glyphicon-log-in"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

