
  body {
    background-color:black);
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    margin:0;
    padding: 0;
    right:0;
    bottom:0;
    width: 200%; 
    height: 200%;
  }
  